@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Aleo:ital,wght@0,100..900;1,100..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Bowlby+One+SC&family=Castoro:ital@0;1&family=Cinzel+Decorative:wght@400;700;900&family=Courgette&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body,
html {
    height: 100%;
    margin: 0;
}

:root {
    --primary-color: #1992d4;
    --secondary-color: #f0b429;
    --background-color: #e2e8f0;
    --card-title-font-size: clamp(1.2rem, 3vw, 1.5rem);
    --card-content-font-size: clamp(0.8rem, 2vw, 1rem);
    --subheading-font-size: clamp(1rem, 2.5vw, 1.25rem);
    --heading-font-size: clamp(1.5rem, 4vw, 2rem);
    --font-family: 'Inter', sans-serif;
}

.container {
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    padding: 0;
}

.nav {
    background-color: #1992d4
}


.main-content {
    background-color: #642cde
}

/* .main-container {
    background-color: #393f4d;
} */

.sidebar {
    background-color: #7E1DC3
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr; 
}

.content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr;
    gap: 15px;
}

.header {
    grid-column: 1 / 5;
    
}

/* .main-container {
    grid-column: 1 / 3;
    grid-row: 2 / 6;
} */

.main-container {
    display: grid;
    grid-column: 1 / 5;
    gap: 15px;
}

.main-content {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 4 / 4;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: var(--heading-font-size);
    height: var(--heading-font-size);
    object-fit: contain;
}

#logo-text {
    font-size: var(--heading-font-size);
    font-family: var(--font-family);
    font-weight: 600;
    color: white;
    margin-left: 10px;
}

nav {
    padding: 1rem;
    z-index: 2;
}

.nav-top {
    margin-bottom: 2rem;
}

.nav-links ul {
    list-style: none;
    padding: 2rem 0 0 0;
}

.nav-links a {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

.nav-links a img,
button img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

button img {
    filter: brightness(0) saturate(100%);
}

.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 1;
    font-family: var(--font-family);
}


.header-top {
    grid-row: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.search-bar,
.user-profile {
    display: flex;
    align-items: center;
}

.header-top button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


input {
    background-color: #e2e8f0;
    border: none;
    border-radius: 55rem;
    padding: .3rem;
    width: 50vw;

    font-size: 1rem;
    font-family: var(--font-family);
}

.header-bottom {
    grid-row: 2/2;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    padding-bottom: 1.2rem;
}

#top-user-profile {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
    margin-right: 2rem;
    display: inline-block;
    border-radius: 10rem;
}

#bot-user-profile {
    max-width: 5rem;
    max-height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.header-bottom-left {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.header-bottom-left h2 {
    font-family: var(--font-family);
    font-size: var(--heading-font-size);
    font-weight: 600;
}

p {
    font-family: var(--font-family);
    font-size: var(--subheading-font-size);
    color: #4a5568;
}

.header-bottom-right {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.header-bottom-right button {
    background-color:var(--primary-color);
    font-family: var(--font-family);
    padding: .5rem 1.5rem;
    border-radius: 99999px;
    border: none;
    color: white;
    cursor: pointer;
}

